.button {
  padding: 8px 26px;
  background: transparent;
  border: 2px solid var(--color-3);
  border-radius: 50px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: var(--color-3);
  cursor: pointer;
}
