.home {
  padding: 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.heading {
}

.list {
  min-height: 800px;
  flex-wrap: wrap;
  justify-content: space-between;
  display: flex;
  gap: 20px;
}

.item {
}


.pagination {
  display: flex;
  gap: 20px;
  align-self: center;
}
