.button {
  padding: 8px 26px;
  background: var(--color-11);
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: var(--color-1);
  border: none;
  border-radius: 50px;
  cursor: pointer;

  &:disabled {
    background: var(--color-1);
    color: var(--color-11);
    pointer-events: none;
  }
}
